  <div class="container">
    <div id="form" class="form-group">
      <img src="/assets/Icon.png" class="formicon">
      <%= form_for @profile do |g| %>
      <li><%= label_tag :name, "Name:" %></li>
      <li><%= g.text_field :name, class:"form-control" %></li>
      <li><%= label_tag :age,"Age:" %>
      <li><%= g.text_field :age, class:"form-control" %></li>
      <li><%= label_tag :location, "Location:" %>
      <li><%= g.text_field :location, class:"form-control" %></li>
      <li><%= label_tag :bio, "Bio:" %>
      <li><%= g.text_field :bio, class:"form-control" %></li>
      <li><%= label_tag :favouritegames, "Favourite Games:" %>
      <li><%= g.text_area :favouritegames, class:"form-control",rows:"3", id:"description" %></li>
      <li><%= g.submit "Create", class:"btn btn-warning", id:"createbutton"%></li>
      <% end %>
    </div> 
  </div>




