
<nav class="navbar sticky-top navbar-light" style="background-color:black; height:55px; border-bottom:white 3px solid;" >
    <a href="/games"><img class='icon' src="/assets/Hiscore.jpg" width="50" height="50" alt=""></a>
    
     <%if user_signed_in?%>
     <a class="btn btn-primary" href="/games/new">New Game</a>
      <a class="btn btn-primary" href="/conversations">Messages</a>
     <a class="btn btn-primary" href="/profiles/<%=current_user.id%>">My Profile</a>
     <a class="btn btn-primary"<%= link_to('Log Out', destroy_user_session_path, method: :delete) %>></a>
      <!-- <%= link_to 'New Game', new_game_path %> -->
        <% else %>
        <a class="btn btn-primary" href="/users/sign_in" role="button" id="CreateAccount">Login</a> 
        <a class="btn btn-primary" href="/users/sign_up" role="button" id="CreateAccount">Create Account</a>
     <%end%>
    <form class="form-inline">
      <%=search_form_for @search do |f|%>
        <input class="form-control mr-sm-2" type="search" placeholder="Search Games" aria-label="Search"<%= f.text_field :title_cont%>
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
      <%end%>
    </form>
</nav>




<h1> New Conversations </h1>

<%= form_tag conversations_path, method: :post do %>

<div>
    <%= select_tag :user_id, options_from_collection_for_select(@recipients, :id, :name) %>
</div>

<div>
    <%= text_field_tag :subject, placeholder= "Subject"  %>
</div>
  
<div>
    <%= text_area_tag :body, placeholder= "Leave a comment"%>
</div>

<%= submit_tag %>

<%end%>