
<nav class="navbar sticky-top navbar-light" style="background-color:black; height:55px; border-bottom:white 3px solid;" >
    <a href="/games"><img class='icon' src="/assets/Hiscore.jpg" width="50" height="50" alt=""></a>
    
     <%if user_signed_in?%>
     <a class="btn btn-primary" href="/games/new">New Game</a>
      <a class="btn btn-primary" href="/conversations">Messages</a>
     <a class="btn btn-primary" href="/profiles/<%=current_user.id%>">My Profile</a>
     <a class="btn btn-primary"<%= link_to('Log Out', destroy_user_session_path, method: :delete) %>></a>
      <!-- <%= link_to 'New Game', new_game_path %> -->
        <% else %>
        <a class="btn btn-primary" href="/users/sign_in" role="button" id="CreateAccount">Login</a> 
        <a class="btn btn-primary" href="/users/sign_up" role="button" id="CreateAccount">Create Account</a>
     <%end%>
    <form class="form-inline">
      <%=search_form_for @search do |f|%>
        <input class="form-control mr-sm-2" type="search" placeholder="Search Games" aria-label="Search"<%= f.text_field :title_cont%>
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
      <%end%>
    </form>
</nav>




<div class="container">
    <div id="gameform" class="form-group">

<h1 class="formname">CHAT</h1>

 <div class="chatwindow">

<% @conversation.receipts_for(current_user).each do |receipt| %>
<div type="textarea", class="scrollabletextbox">
    <div>
    <span><%= receipt.message.sender.name %> commented:</span>
        <span> <%= receipt.message.body %></span>
    </div>
</div>
    
<%end%>

</div>

<%=form_tag conversation_messages_path(@conversation), method: :post do %>

 <div class="outerchatbox"><%= text_area_tag :body,"" ,id:"chatbox", placeholder:"Enter Message" %></div>

   <li><%= submit_tag "Submit", class:"btn btn-primary", id:"createbutton" ,data: { disable_with: false }%></li>
<%end%>


</div>
</div>
</div>