<%= form_with(model: profile, local: true) do |form| %>
<!--
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %></h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %> -->


  <li class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class:"form-control" %>
  </li>

  <li class="field">
    <%= form.label :description %>
    <%= form.text_field :description, class:"form-control" %>
  </li>

  <li class="field">
    <%= form.label :genre %>
    <%= form.text_field :genre, class:"form-control" %>
  </li>

  <li class="field">
    <%= form.label :category %>
    <%= form.text_field :category, class:"form-control" %>
  </li>

  <li class="field">
    <%= form.label :price %>
    <%= form.text_field :price, class:"form-control", value:"0.00" %>
  </li>

  <li class="actions">
    <%= form.submit "Submit", class:"btn btn-primary", id:"createbutton"%>
  </li>

  <li><%= link_to('Log out', destroy_user_session_path, method: :delete) %><li>
  <li><%= link_to 'Back', games_path %><li>
  
  <% end %>
</div>
</div>