<nav class="navbar sticky-top navbar-light" style="background-color:black; height:55px; border-bottom:white 3px solid;" >
    <a href="/games"><img class='icon' src="/assets/Hiscore.jpg" width="50" height="50" alt=""></a>

     <%if user_signed_in?%>
     <a class="btn btn-primary" href="/games/new">New Game</a>
           <a class="btn btn-primary" href="/conversations">Messages</a>
     <a class="btn btn-primary" href="/profiles/<%=current_user.id%>">My Profile</a>
     <a class="btn btn-primary"<%= link_to('Log Out', destroy_user_session_path, method: :delete) %>></a>
      <!-- <%= link_to 'New Game', new_game_path %> -->
        <% else %>
        <a class="btn btn-primary" href="/users/sign_in" role="button" id="CreateAccount">Login</a> 
            <a class="btn btn-primary" href="/users/sign_up" role="button" id="CreateAccount">Create Account</a>
     <%end%>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search Users" aria-label="Search">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>


   
<div class="container">
    <div id="form" class="form-group">

<a><img class="GamePicture"  src="/assets/NoPhoto"></a>

<% @amount = @game.price * 100 %>
  <%= form_tag charges_path do %>
  
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="price">
   
    </label>
  </article>
  <%= hidden_field_tag "game_id", "#{@game.id}" %>
   <%= javascript_include_tag 'https://checkout.stripe.com/checkout.js',
   class: 'stripe-button',
   data: {
     key: ENV["STRIPE_PUBLISHABLE_KEY"],
     amount: @amount,
     name: "Hiscore",
     description: @game.title,
     image: "https://stripe.com/img/documentation/checkout/marketplace.png",
     locale: "auto",
     currency: "aud"
   }%>    

   
    
   <% end %>

<h2>Product Information:</h2>

<div>
<li>
  <strong>Title:</strong>
  <%= @game.title %>
</li>

<li>
  <strong>Price:</strong>
  <span class="price">$<%= @game.price %></span>
</li>


<li>
  <strong>Description:</strong>
  <%= @game.description %>
</li>

<li>
  <strong>Genre:</strong>
  <%= @game.genre %>
</li>

<li>
  <strong>Category:</strong>
  <%= @game.category %>
</li>

<div>
</div>
<hr>
<div class="text-center">

<span><a id="formbutton" class="btn btn-primary btn-sx" href="/games/">Back</a><span>
</div>
</div>
</div>