<nav class="navbar sticky-top navbar-light" style="background-color:black; height:55px; border-bottom:white 3px solid;" >
    <a href="/games"><img class='icon' src="/assets/Hiscore.jpg" width="50" height="50" alt=""></a>
    
     <%if user_signed_in?%>
     <a class="btn btn-primary" href="/games/new">New Game</a>
     <a class="btn btn-primary"<%= link_to('Log Out', destroy_user_session_path, method: :delete) %>></a>
      <!-- <%= link_to 'New Game', new_game_path %> -->
        <% else %>
        <a class="btn btn-primary" href="/users/sign_in" role="button" id="CreateAccount">Login</a> 
        <a class="btn btn-primary" href="/users/sign_up" role="button" id="CreateAccount">Create Account</a>
     <%end%>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search Games" aria-label="Search">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>


 <div class="container">
    <div id="form" class="form-group">
      <!--<img src="/assets/Icon.png" class="formicon">-->
<h2 class="formname">Log in</h2>

 <% if flash[:alert] %>
          <p id="error_explanation"><%= flash[:alert] %></p>
 <% end %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <li class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
  </li>

  <li class="field">

    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
  </li>

  <% if devise_mapping.rememberable? -%>
    <li class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </li>
  <% end -%>

  <li class="actions">
    <%= f.submit "Log in", class:"btn btn-primary", id:"createbutton" %>
  </li>
<% end %>
<li><%= render "devise/shared/links" %><li>

</div>
</div>
